<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISymbolProxy" transferMode="Streamed" receiveTimeout="00:10:00" sendTimeout="00:10:00">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9000/SymbolProxy" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISymbolProxy" contract="SR.ISymbolProxy"
                name="NetTcpBinding_ISymbolProxy" />
        </client>
    </system.serviceModel>
</configuration>