*.mk
*.log
out/
src/branding
src/third_party/boost/
src/third_party/breakpad/
src/third_party/c-ares/
src/third_party/curl-shared/
src/third_party/curl-static/
src/third_party/depot_tools/
src/third_party/gyp/
src/third_party/v8/
src/third_party/wxWidgets/
src/third_party/wxWidgets_debug/
build_lin/logs/
build_out/debug_lin/*
build_out/release_lin/*
tools/*
Makefile
