#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Desurium
GenericName=Game Manager
Type=Application
Comment=Free software version of Desura game client
Exec=@DESKTOP_EXE@ %U
TryExec=@DESKTOP_EXE@
MimeType=x-scheme-handler/desura;
Icon=@DESKTOP_ICON@
Terminal=false
Categories=Game;
StartupNotify=false
