[Desktop Entry]
Name=Desurium
Type=Application
Comment=Free software version of Desura game client
Exec=@BIN_INSOURCE_DIR@/desura
TryExec=@BIN_INSOURCE_DIR@/desura
MimeType=x-scheme-handler/desura;
Icon=@DATA_INSOURCE_DIR@/desura.png
Categories=Game;
